<!DOCTYPE html>
 <html>
 <head>
 	<title>Application for <%=@app.genre %></title>
 </head>
 <body>
 This application is for #link user
 <table>
 <tr><td>Genre</td>
   <td><%= @app.genre %></td>
   <tr><td>Family Hero</td>
    <td><%= @app.family_hero %></td>
</tr>
 </table>
 </body>
 </html>
