<!DOCTYPE html>
<html>
<head>
  <title>Atheneum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome to the Atheneum</h1>
You can either <a href=signin>login</a> to complete an application or <a href=users/new>register</a> using this link.
 
<br>

</body>
</html>
